    /* globel */
    *{
        box-sizing: border-box;
        position: relative;
        /* border: 0px !important;  */
    }
    html,body{
        font-family: "微軟正黑體";
    }
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    /* layout */
    .container{
        width: 1260px;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Utility */
    .clearfix:after{
        content: '';
        display: block;
        clear: both;
    }

    /* Component */

    /* navbar */
    .navbar{
        height: 80px;
        background-color: #000000d0;
        padding: 0 196px;
        width: 100%;
        position: fixed;
        z-index: 999;
    }
    .navbar .logo{
        display: inline-block;
        width: 225px;
        height: 45px;
        /* border: 1px solid #000; */
        /* background-image: url(../images/); */
        /* background-color: red; */
        margin-top: 17.5px;
        background-image: url(https://j4demo2.ltheme.com/joomla/lt-mypro/images/logo6.png);
        background-size: contain;

    }

    .navbar .nav{
        /* border: 1px solid #000; */

        float: right;
    }

    .navbar .nav .nav-item{
        float: left;
        margin-left: 32px;
    }

    .navbar .nav .nav-link{
        display: inline-block;
        color: white;
        line-height: 36px;
        padding: 20px 0;
        /* border: 1px solid #000; */
        font-size: 12px;
    }

    .jumborton{
        height: 1033px;
        background-color: rgb(127, 143, 137);
        /* border: 1PX #000; */
        background-image: url(../images/pexels-stephan-seeber-1261728.jpg);
        background-size:cover;
        background-repeat: no-repeat;
    }
    .hero-2{
        background-color: #181718;
        height: 880px;
    }
    .hero-3{
        background-color: #1B1C1E;
        height: 1080px;
    }
    .hero-4{
        background-color: #181718;
        height: 885.58px;
    }
    .hero-5{
        background-color: #1B1C1E;
        height: 626.55px;
    }
    .hero-6{
        height: 394.08px;
        background-image: url(../images/pexels-joyston-judah-933054.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .hero-7{
        background-color: #1B1C1E;
        height: 936.81px;
    }
    .hero-8{
        background-color: #181718;
        height: 630.66px;
    }
    .hero-9{
        background-color: #1B1C1E;
        height: 660.95px;
    }
    .hero-10{
        background-color: #181718;
        height: 573.77px;
    }

    /* grid */
    .row{
        /* border: 1px solid #00000000; */
        margin-left: -16px;
        margin-right: -16px;
    }
    .row:after{
        content: '';
        display: block;
        clear: both;
    }
    .row-collapse{
        margin-left: 0;
        margin-right: 0;
    }

    .row-bottom{
        padding-top: 50px;
    }

    /* 分數表示型 : 三分之一 */
    .col-1-2,.col-1-3,.col-1-4{
        float: left;
        /* border: 1px solid #f00606; */
        padding-left: 16px;
        padding-right: 16px;
    }

    .col-1-2A{
        width: 50%;
        padding-top: 30%;
        /* padding-left: 10%; */
        height: 190px;
    }

    .col-1-2B{
        width: 50%;
        padding-left: 50px;
        /* padding-left: 10%; */
    }

    .col-1-3{
        width: 33.333333%;
    }

    .col-1-4{
        width: 25%;
        padding-left: 50px;
    }

    .cmpt-1{
        margin-bottom: 80px;
    }

    .cmpt-1 .font-1{
        color: white;
        font-size: 50px;
        display: inline;
    }

    .cmpt-1 .font-3{
        color: #F68E13;
        font-size: 50px;
        display: inline;
    }

    .cmpt-1 .font-2{
        color: #F68E13;
        font-size: 15px;
        background-color: #0000008a;
        width: 444.31px;
        height: 47px;
        line-height: 43px;
        padding: 0px 60px;
    }

    .inner{
        margin-top: 30px;
    }

    .row .col-1-2 .inner .btns{
        display: inline-block;
        padding: 0px 24px;
        line-height: 48px;
        color: #F68E13;
        font-size: 18px;
        text-decoration: none;
        font-weight: 800;
        border-radius: 4px;

        border: 1px solid #F68E13;
        transition: all 0.2s;
    }

    .row .col-1-2 .inner .btns:hover{
        background-color: #F68E13;
        color: #000000;
    }

    .hero-2 .row .h1{
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .hero-2 .row .img{
        background-image: url(../images/about-us.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;
        background-color: #181718 !important;
    }

    .hero-2 .row .card-1{
        background-color: #1B1C1E;
        height: 264.77px !important;
        padding-top: 3px;
    }

    .hero-2 .row .col-1-2B .fontA{
        font-size: 23px;
        color: #F68E13;
    }
    .hero-2 .row .col-1-2B .fontB{
        font-size: 16px;
        color: white;
        line-height: 24px;
    }
    .hero-2 .row .col-1-2B .fontC{
        font-size: 16px;
        color: white;
        padding-top: 10px;
        padding-left: 30px;
    }

    .hero-4 .row .col-1-3A{
        padding-top: 25px;
    }

    .hero-4 .row .col-1-3 .card{
        width: 400px;
        height: 250px;
        background-color: #1B1C1E !important;
    }

    .hero-4 .row .col-1-3 .font-A{
        font-size: 50px;
        color: #eeeeee75;
        padding-left: 65%;
        padding-top: 5%;
    }

    .hero-4 .row .col-1-3 h5{
        color: white;
        padding-left: 10%;
        font-size: 17px;
    }

    .hero-4 .row .col-1-3 p{
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 16px;
    }

    .hero-5 .row .col-1-3-B{
        padding-top: 10px;
    }

    .hero-5 .row .col-1-3-B .card{
        width: 400px;
        height: 250px;
        background-color: #1B1C1E !important;
        /* border: 3px solid red; */
    }

    .hero-5 .row .col-1-3-B .cardA{
        padding-top: 15%;
    }
    .hero-5 .row .col-1-3 h1{
        font-size: 50px;
        color: #eeeeee75;
        padding-left: 75%;
        padding-top: 5%;
    }

    .hero-5 .row .col-1-3 p{
        color: white;
        font-size: 16px;
    }

    .hero-5 .row .col-1-3 .font-A{
        float: left;
        padding-right: 40%;
    }

    .hero-5 .row .col-1-3 .cardA p{
        font-size: 12px;
    }

    .hero-6 .row{
        padding-top: 10%;
    }

    .hero-6 .row .col-1-4 .card{
        width: 270px;
        height: 50px;
        background-color: rgba(255, 235, 105, .1);
    }

    .hero-6 .row .col-1-4 h1{
        color: white;
        font-size: 40px;
        text-align: center;
        padding-top: 5%;
    }

    .hero-6 .row{
        width: 1260px;
        height: 474px;
        border: 1px solid #000;
    }

    .hero-6 .row .col-1-4 h6{
        color: white;
        font-size: 16px;
        text-align: center;
        padding-top: 5%;
    }

    .hero-7 .row .main{
        padding-left: 38%;
    }

    .hero-7 .row .main{
        padding-left: 38%;
    }

    .hero-7 .row h1{
        padding-left: 38%;
        left: -25%;
    }


    .hero-7 .row .font-A{
        color: #F68E13;
        padding-right: 20px;
    }

    .hero-7 .row a{
        color: white;
        padding-right: 20px;
    }

    .hero-7 .row .col-1-3 .card{
        background-color: #1B1C1E;
        width: 380px;
        height: 380px;
    }

    .hero-7 .row .col-1-3 .card img{
        width: 380px;
        height: 380px;
        padding-top: 20px;
    }

    .hero-8 .row .col-1-2 .card{
        width: 590px ;
        height: 335px ;
        background-color: #1B1C1E; 
        padding-top: 50px; 
    }

    .hero-8 .row .col-1-2 .card p{
        color: #e1e8e1;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 14px;
        padding-top: 5px;
    }

    .hero-8 .row .col-1-2 .card h5{
        color: #F68E13;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }

    .hero-8 .row .col-1-2 .card h6{
        color: #e1e8e1;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 14px;
    }

    .hero-8 .row .col-1-2 .card .user{
        width: 65px;
        height: 65px;
        border-radius:999em;
        background-color: aliceblue;
        left: 45%;
    }

    .hero-9 .row .col-1-3 .card{
        width: 400px;
        height: 270px;
    }

    .hero-9 .row .col-1-3 .card img{
        width: 400px;
        height: 270px;
    }

    .hero-9 .row .col-1-3 .card a{
        color: #F68E13;
        font-size: 16px;
    }

    .hero-9 .row .col-1-3 .card p{
        color: #e1e8e1;
        font-size: 16px;
    }

    .hero-10 .row .col-1-3 .card{
        background-color: #1B1C1E;
        width: 400px;
        height: 250px;
    }

    .hero-10 .row .col-1-3 .card h1{
        font-size: 50px;
        color: #eeeeee75;
        padding-left: 65%;
        padding-top: 5%;
    }

    .hero-10 .row .col-1-3 h5{
        color: white;
        padding-left: 10%;
        font-size: 17px;
    }

    .hero-10 .row .col-1-3 p{
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 16px;
    }

    .card {
        /* background-color: #f00606; */
        background-color: aqua;
        height: 600px;
    }

    .footer{
        height: 260px;
        background-color: #1B1C1E;
    }


